[Unit]
Description=Trigger XCP-ng ISO / XO Lite CE / xoa-proxy Build Agent Daily at 4 AM

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=iso-agent.service

[Install]
WantedBy=timers.target
